[submodule "backup"]
	path = backup
	url = git@github.com:kubocker/asset_backup.git
[submodule "asset_admin_tool"]
	path = asset_admin_tool
	url = git@github.com:kubocker/asset_admin_tool.git
[submodule "admin"]
	path = admin
	url = git@github.com:kubocker/asset_admin_tool.git
[submodule "asset_engine"]
	path = asset_engine
	url = git@github.com:kubocker/asset_engine.git
[submodule "engine"]
	path = engine
	url = git@github.com:kubocker/asset_engine.git
